@model EmaanMall.Models.DeliveryCharges

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Delivery Charges</h3>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Detail</h3>

                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DeliveryChargesProvince)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DeliveryChargesProvince)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DeliveryChargesCity)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DeliveryChargesCity)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DeliveryChargesAmount)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DeliveryChargesAmount)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DeliveryChargesStatus)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DeliveryChargesStatus)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DeliveryChargesDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DeliveryChargesDate)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.DeliveryChargesId">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

